{% extends 'base.html' %}

{% block header %}
<h1>
    {% block title %}
    {% if campaign is defined %}
        {{ campaign['name'] }}
    {% else %}
        Campaign not found!
    {% endif %}
    {% endblock %}
</h1>
{% endblock %}

{% block content %}
{% if campaign is not none %}

<v-layout row>
    <v-flex xs10>
        <v-card>
            <v-img
                    src="https://source.unsplash.com/random/900x300"
                    height="300px"
                    aspect-ratio="2.75"
            ></v-img>

            <v-card-title primary-title>
                <div>
                    <h3 class="headline mb-0">{{campaign.name}}</h3>
                    <div>{% autoescape false %}{{campaign.description}}{% endautoescape %}</div>
                    <br>
                    <div>
                        <h4>Amount donated: {{campaign.amount_donated|default('$0.00', true)}} out of {{campaign.amount_requested}}</h4>
                        <v-progress-linear v-model="percentage"
                        {%if campaign.percentage > 100 %} color="success" {%endif%}
                        ></v-progress-linear>
                    </div>
                </div>
            </v-card-title>

            <v-card-actions>
                <v-btn flat outline color="orange" v-on:click="donate = !donate">Support this!</v-btn>
                {% if g.user['id'] == campaign.owner_id %}
                <v-btn flat outline color="green" href="{{url_for('campaign.edit_campaign',id=campaign.campaign_id)}}">Edit Campaign</v-btn>
                {% endif %}
                <v-spacer></v-spacer>
                <v-btn icon @click="donate = !donate">
                    <v-icon v-if="donate"> keyboard_arrow_down</v-icon>
                    <v-icon v-else="donate"> keyboard_arrow_up</v-icon>
                </v-btn>
            </v-card-actions>

            <v-slide-y-transition>
                <v-card-text v-show="donate">
                    <form method="post">
                        {{ form.csrf_token }}
                        {{ form.campaign_id(value=campaign.campaign_id) }}
                        <v-text-field
                                label="{{ form.amount.label.text }}"
                                id="{{ form.amount.label.field_id }}"
                                name="{{ form.amount.label.field_id }}"
                                prefix="$"
                        ></v-text-field>
                        <v-btn type="submit">Donate now!</v-btn>
                    </form>
                </v-card-text>
            </v-slide-y-transition>
        </v-card>
    </v-flex>
    <v-flex xs2>
        <v-card href="{{ url_for('user.view_public_profile', id=campaign.owner_id) }}">
            <v-card-text>
                <h3 class="headline mb-0">Campaign By:</h3>
            </v-card-text>

            <v-flex text-xs-center>
                <v-avatar size=150px><img src="{{campaign.profile_image}}"></v-avatar>
            </v-flex>

            <v-card-title primary-title>
                <h3 class="headline mb-0">{{campaign.first_name}} {{campaign.last_name}}</h3>
            </v-card-title>
        </v-card>
        <v-card>
            <div>
                <h3>Recent Donations:</h3>
            </div>
            <br>
            {% if donations %}
            {% for d in donations %}
            <div>
                <v-layout>
                    <v-flex xs3>
                        <v-card flat>
                            <v-avatar size=50px>
                                <img src="{{d.profile_image}}">
                            </v-avatar>
                        </v-card>
                    </v-flex>
                    <v-spacer></v-spacer>
                    <v-flex xs8>
                        <v-card flat>
                            <h4>{{d.amount}}</h4>
                            <p>{{d.first_name}} {{d.last_name}}</p>
                        </v-card>
                    </v-flex>
                </v-layout>
            </div>
            {% endfor %}
            {% endif %}

        </v-card>
    </v-flex>
</v-layout>
</section>

{% else %}
    <p>Campaign not found!</p>
{% endif %}
{% endblock %}

{%block vuedata%}
donate:false,
percentage:{{campaign.percentage}}
{%endblock%}