{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Create new campaign{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    {{ form.csrf_token }}
    <v-container>
        <v-layout>
            <v-flex xs6 offset-xs3 text-xs-left>
                <v-text-field
                        label="{{ form.name.label.text }}"
                        id="{{ form.name.label.field_id }}"
                        name="{{ form.name.label.field_id }}"
                ></v-text-field>

                <v-text-field
                        label="{{ form.description.label.text }}"
                        id="{{ form.description.label.field_id }}"
                        name="{{ form.description.label.field_id }}"
                ></v-text-field>
                <v-text-field
                        label="{{ form.image.label.text }}"
                        id="{{ form.image.label.field_id }}"
                        name="{{ form.image.label.field_id }}"
                ></v-text-field>

                <v-text-field
                        label="{{ form.amount_requested.label.text }}"
                        id="{{ form.amount_requested.label.field_id }}"
                        name="{{ form.amount_requested.label.field_id }}"
                ></v-text-field>
                <v-btn type="submit">Submit</v-btn>
            </v-flex>
        </v-layout>
    </v-container>

</form>
{% endblock %}