{% extends 'base.html' %}
{% block title %}Search{% endblock %}

{% block content %}

<v-container>
    {%if search_term is none%}
    <h1>Look through our campaigns!</h1>
    {%else%}
    <h1>Search results for: {{search_term}}</h1>
    {%endif%}

    <form id="search" method="POST">
        {{form.csrf_token}}
        <v-layout xs9 align-space-around justify-center row wrap fill-height>
            <v-flex xs4>
                <v-text-field
                        id="{{ form.search.label.field_id }}"
                        name="{{ form.search.label.field_id }}"
                        label="Search"
                        prepend-icon="search"
                        clearable
                ></v-text-field>
            </v-flex>
            <v-flex xs2>
                <v-btn type="submit">Search</v-btn>
            </v-flex>
        </v-layout>
    </form>
    {%if pages%}
    <v-layout xs9 align-space-around justify-end text-xs-right row wrap fill-height mr-2>
        <h3>
        Pages:
        {%for p in range(pages) %}
            <a href="{{url_for('campaign.search_campaigns',search_term=search_term, offset=p)}}">{{p+1}}</a>
        {%endfor%}
        </h3>
    </v-layout>
    {%endif%}
    <v-layout xs9 align-space-around justify-center row wrap fill-height>
        {%if campaigns%}{%for campaign in campaigns%}
        <v-flex xs4>
            <v-card height="100%">
                <v-img
                        src="{{campaign.image}}"
                        height="300px"
                        aspect-ratio="2.75"
                ></v-img>

                <v-card-title primary-title>
                    <v-layout column wrap>
                        <v-flex xs12>
                            <a href="{{url_for('campaign.view_campaign', id=campaign.campaign_id)}}">
                                <h3 class="headline mb-0">{{campaign.name}}</h3>
                            </a>
                            <div>{% autoescape false %}{{campaign.description|truncate(500, True)}}{% endautoescape %}</div>
                            <br>
                            <div>
                                <h4>Amount donated: {{campaign.amount_donated|default('$0.00', true)}} out of {{campaign.amount_requested}}</h4>
                                <v-progress-linear v-model="percentage{{campaign.campaign_id}}"
                                                   {%if campaign.percentage > 100 %} color="success" {%endif%}
                                    ></v-progress-linear>
                            </div>
                        </v-flex>
                        <v-spacer></v-spacer>
                        <v-flex align-end xs12 text-xs-right>
                            <v-btn color="orange" href="{{url_for('campaign.view_campaign', id=campaign.campaign_id)}}">See details</v-btn>
                        </v-flex>
                    </v-layout>

                </v-card-title>
            </v-card>
        </v-flex>
        {%endfor%}
        {%else%}
        <v-flex>
            <h1>No results found!</h1>
        </v-flex>
        {%endif%}
    </v-layout>
</v-container>
{% endblock %}
{%block vuedata%}
donate:false,
{% for c in campaigns %}
percentage{{c.campaign_id}}:{{c.percentage}},
{%endfor%}
{%endblock%}
