{% extends 'base.html' %}
{% block title %}Welcome to oNUS{% endblock %}

{% block content %}
<v-img
        src="https://images.unsplash.com/photo-1533022544462-adf3bbb1b78f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=56a09599b1d703725d3954727ada8c6a&auto=format&fit=crop&w=2011&q=80&w=1980&h=600"
>
    <v-container fill-height class="jumbotron">
        <v-layout>
            <v-flex xs6 offset-xs3 text-xs-left>
                <h1 class="jumbotron-title">Donate to the causes and people you care about</h1>
                <br>
                <h3 class="jumbotron-subtext">Check out some of our campaigns below</h3>
                <br>
                <br>
                <v-btn href="" color="success">Create your own campaign</v-btn>
            </v-flex>
        </v-layout>
    </v-container>
</v-img>
<v-container>
    <v-layout xs9  align-space-around justify-center row fill-height>
        {%if campaigns%}{%for campaign in campaigns%}
        <v-flex xs3>
            <v-card height="100%">
                <v-img
                        src="{{campaign.image}}"
                        height="300px"
                        aspect-ratio="2.75"
                ></v-img>

                <v-card-title primary-title>
                    <v-layout horizontal wrap>
                        <v-flex xs12>
                            <a href="{{url_for('campaign.view_campaign', id=campaign.campaign_id)}}">
                                <h3 class="headline mb-0">{{campaign.name}}</h3>
                            </a>
                            <div>{% autoescape false %}{{campaign.description|truncate(500, True)}}{% endautoescape %}</div>
                            <br>
                            <div>
                                <h4>Amount donated: {{campaign.amount_donated|default('$0.00', true)}} out of {{campaign.amount_requested}}</h4>
                                <v-progress-linear v-model="percentage{{campaign.campaign_id}}"
                                                   {%if campaign.percentage > 100 %} color="success" {%endif%}
                                    ></v-progress-linear>
                            </div>
                        </v-flex>
                        <v-spacer></v-spacer>
                        <v-flex align-end xs12 text-xs-right>
                            <v-btn color="orange" href="{{url_for('campaign.view_campaign', id=campaign.campaign_id)}}">See details</v-btn>
                        </v-flex>
                    </v-layout>

                </v-card-title>
            </v-card>
        </v-flex>
        {%endfor%}{%endif%}
    </v-layout>
</v-container>
{% endblock %}

{%block vuedata%}
donate:false,
{% for c in campaigns %}
percentage{{c.campaign_id}}:{{c.percentage}},
{%endfor%}
{%endblock%}