{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Edit Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
    <v-container elevation-12>
        <form method="post">
            {{ form.csrf_token }}

            <v-layout row>
                <v-flex xs-6>
                    <v-text-field
                            label="{{ form.profile_image.label.text }}"
                            id={{ form.profile_image.field_id }}
                            name={{ form.profile_image }}
                    ></v-text-field>
                </v-flex>
            </v-layout>

            <v-layout row>
                <v-flex xs-6>
                    <v-text-field
                            label="{{ form.first_name.label.text }}"
                            id={{ form.first_name.field_id }}
                            name={{ form.first_name }}
                    ></v-text-field>
                </v-flex>
            </v-layout>

            <v-layout row>
                <v-flex xs-6>
                    <v-text-field
                            label="{{ form.last_name.label.text }}"
                            id={{ form.last_name.field_id }}
                            name={{ form.last_name }}
                    ></v-text-field>
                </v-flex>
            </v-layout>

            <v-layout row>
                <v-flex xs-6>
                    <v-text-field
                            label="{{ form.address1.label.text }}"
                            id={{ form.address1.field_id }}
                            name={{ form.address1 }}
                    ></v-text-field>
                </v-flex>
            </v-layout>

            <v-layout row>
                <v-flex xs-6>
                    <v-text-field
                            label="{{ form.address2.label.text }}"
                            id={{ form.address2.field_id }}
                            name={{ form.address2 }}
                    ></v-text-field>
                </v-flex>
            </v-layout>

            <v-layout row>
                <v-flex xs-6>
                    <v-text-field
                            label="{{ form.postal_code.label.text }}"
                            id={{ form.postal_code.field_id }}
                            name={{ form.postal_code }}
                    ></v-text-field>
                </v-flex>
            </v-layout>

            <v-layout row>
                <v-flex xs-6>
                    <v-text-field
                            label="{{ form.phone_number.label.text }}"
                            id={{ form.phone_number.field_id }}
                            name={{ form.phone_number }}
                    ></v-text-field>
                </v-flex>
            </v-layout>

            <v-layout row>
                <v-flex xs-6>
                    <v-text-field
                            label="{{ form.description.label.text }}"
                            id={{ form.description.field_id }}
                            name={{ form.description }}
                    ></v-text-field>
                </v-flex>
            </v-layout>

            <v-layout row>
                <v-flex xs-6>
                    <v-text-field
                            label="{{ form.credit_card.label.text }}"
                            id={{ form.credit_card.field_id }}
                            name={{ form.credit_card }}
                    ></v-text-field>
                </v-flex>
            </v-layout>

            <v-btn type="submit">Submit</v-btn>
        </form>
    </v-container>
{% endblock %}

