{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}View Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="get">
    <v-layout row justify-center>
        <v-flex xs10>
            <v-card>

                <v-img
                        src="{{ user_info.profile_image }}"
                        aspect-ratio="1.333"
                        contain>
                    <v-layout pa-2 column fill-height class = "lightbox white--text">
                        <v-spacer></v-spacer>
                        <v-flex shrink>
                            <div class="display-3"> {{ user_info.first_name}} {{ user_info.last_name }} </div>
                        </v-flex>
                    </v-layout>
                </v-img>
                <br>
                <v-textarea
                        label = "Short Bio:"
                        value = "{{ user_info.description }}"
                        outline
                        auto-grow
                        no-resize
                        readonly
                ></v-textarea>

                <v-text-field
                    label = "Address Line 1:"
                    value = "{{ user_info.address1 }}"
                    outline
                    readonly
                ></v-text-field>

                <v-text-field
                    label = "Address Line 2:"
                    value = "{{ user_info.address2 }}"
                    outline
                    readonly
                ></v-text-field>

                <v-text-field
                        label = "Postal Code:"
                        value = "{{ user_info.postal_code }}"
                        outline
                        readonly
                ></v-text-field>

                <v-text-field
                        label = "Phone Number:"
                        value = "{{ user_info.phone_number }}"
                        outline
                        readonly
                ></v-text-field>

                <v-text-field
                        label = "Credit Card:"
                        value = "{{ user_info.credit_card }}"
                        outline
                        readonly
                ></v-text-field>
                <v-btn href="{{url_for('user.edit_user_profile',id=id)}}">Edit</v-btn>
            </v-card>
        </v-flex>
    </v-layout>
    </form>
{% endblock %}